main {
  width: 60vw;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 80px;
}

@media screen and (max-width: 700px) {
  main {
    width: 80vw;
  }
}
.role-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.role-title span {
  font-weight: 500;
}

.role-title p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
}

.period {
  color: var(--accent3);
}

#quick-links {
  margin: 50px 0;
  justify-content: center;
}
