html {
  --background: #ffffff;
  --accent1: #667588;
  --accent2: #a7adb3;
  --accent3: #c4c2c6;
  --red: #ea6868;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
p {
  line-height: 180%;
  font-size: 16px;
  color: #232323;
}
#profile-photo {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 100%;
  margin: 50px;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px 5vw;
}

#nav-name h1 {
  margin: 0;
}

#nav-name h2 {
  margin: 0;
  font-weight: 200;
  font-size: 19px;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  #nav-bar {
    flex-wrap: wrap;
    justify-content: center;
  }
  #nav-name {
    width: 300px;
    text-align: center;
  }
}

#nav-links li {
  display: inline-block;
}

.current-page {
  font-weight: 700;
}

.bold {
  font-weight: bold;
}

.accent1 {
  color: var(--accent1);
  font-weight: 600;
  transition: font-weight 0.3s ease;
}

.accent2 {
  color: var(--accent2);
  font-weight: 600;
  transition: font-weight 0.3s ease;
}
.accent3 {
  color: var(--accent3);
  font-weight: bold;
}

p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

li {
  font-weight: 300;
  letter-spacing: 0.05em;
}

#nav-links a {
  transition: color 0.3s ease;
}
#nav-links a:hover {
  color: black;
}

#code:hover,
#design:hover {
  font-weight: 500;
}

footer {
  margin-top: 50px;
}

#quick-links {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
}
#quick-links a {
  display: inline-block;
  width: 20%;
  min-width: 100px;
  text-align: center;
  padding: 5px auto;
  border: solid vaR(--accent3) 2px;
  color: var(--accent3);
  transition: width 1s ease, background-color 0.5s ease, border-color 0.5s ease;
}
#quick-links a:hover {
  background-color: var(--accent1);
  border-color: var(--accent1);
  color: var(--background);
  width: 75%;
}

@media screen and (max-width: 750px) {
  #quick-links {
    flex-wrap: wrap;
  }
  #quick-links a:hover {
    background-color: var(--accent1);
    border-color: var(--accent1);
    color: var(--background);
    width: 20%;
  }
}
