main {
  display: flex;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#intro {
  width: 60%;
}

#intro h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 0px;
}

#intro h1 span {
  font-weight: 700;
}
#intro h2 {
  font-size: 35px;
  margin-top: 0px;
  font-weight: 400;
}

@media only screen and (max-width: 1187px) {
  #intro h1 {
    font-size: 35px;
    text-align: center;
  }
  #intro h2 {
    font-size: 30px;
    text-align: center;
  }
  main {
    width: 90vw;
  }
  #intro {
    width: 90%;
    padding-bottom: 50px;
  }
  #quick-links {
    justify-content: center;
  }
  #intro p {
    text-align: center;
  }
}
