main {
  display: flex;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  main {
    width: 100vw;
  }
}

#intro {
  width: 60%;
}

#intro h1 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 0px;
}

#intro h1 span {
  font-weight: bold;
}
#intro h2 {
  font-size: 45px;
  margin-top: 0px;
  font-weight: 300;
}
