.thumbnail {
  width: 280px;
  margin: 0;
}

.bg-container {
  display: inline-block;
  position: relative;
  background-color: var(--accent3);
  padding: 30px;
  border-radius: 10px;
}

main {
  max-width: 90vw;
  height: 60vh;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

footer {
  height: 100px;
  width: 100%;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
  flex-wrap: wrap;
  transition: border-color 0.5s ease;
  gap: 40px;
}

article:nth-child(1) {
  margin-top: 60px;
}

.proj-num {
  font-size: 40px;
  color: vaR(--accent3);
  font-weight: 500;
  margin: 0px;
  width: 60px;
  text-align: center;
}

@media only screen and (max-width: 1062px) {
  .proj-num {
    width: 100vw;
  }
}

.info-container {
  text-align: left;
  width: 40%;
  min-width: 350px;
}

.info-container h1 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 600;
}

.info-container h2 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: #ea6868;
}

.info-container p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 15px;
}

.info-container .skills {
  margin-top: 0;
  color: #ea6868;
  font-weight: 400;
}

.learn-more {
  display: inline-block;
  padding: 5px auto;
  width: 50%;
  text-align: center;
  margin-top: 22px;
  color: var(--accent3);
  border: solid var(--accent3) 2px;
  transition: background-color 0.5s ease, color 0.5s ease,
    border-color 0.5s ease, width 0.5s ease;
}

.learn-more:hover {
  color: white;
  background-color: var(--accent3);
  border-color: var(--accent3);
  width: 100%;
}
/*
#project-nav {
  font-weight: 500;
  margin-top: 20px;
  transition: text-decoration 0.3 ease-in;
}
#project-nav:hover {
  text-decoration: underline;
}*/

#project-nav {
  position: relative;
  text-decoration: none;
  margin-bottom: 30px;
}

#project-nav::before,
#project-nav::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

#project-nav::before {
  left: 50%;
  transform: translateX(-50%);
}

#project-nav::after {
  right: 50%;
  transform: translateX(50%);
}

/* Hover effect */
#project-nav:hover::before,
:hover::after {
  width: 105%;
}

@media only screen and (max-width: 900px) {
  .info-container {
    text-align: center;
  }
  .proj-num {
    display: block;
    width: 100%;
  }
}

.filterBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0;
}

.tag {
  border: none;
  padding: 5px 10px;
  border: 2px solid var(--accent3);
  color: var(--accent3);
  background: var(--background);
  cursor: pointer;
  transition: 0.3s ease;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
}

.tag:hover {
  background-color: black;
  border: 2px solid black;
  width: 85px;
  color: var(--background);
}

.date {
  font-style: italic;
  color: var(--accent3);
}

.active {
  background-color: black;
  color: var(--background);
  border: 2px solid black;
}
