main {
  text-align: center;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 100px;
}

#cover {
  width: 80%;
  min-width: 270px;
}

@media only screen and (max-width: 850px) {
  main {
    width: 100vw;
  }
  section {
    max-width: 100%;
  }
}

#title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  margin-top: 0;
  position: relative;
  font-weight: 600;
}
#subtitle {
  color: #ea6868;
  font-weight: 500;
  margin: 0;
  font-size: 18px;
}
h1 {
  text-align: left;
  font-size: 26px;
  font-weight: 600;
}
#nav-name h1 {
  text-align: center;
}
.background {
  position: relative;
  left: 50%;
  width: 100vw;
  background-color: white;
  margin-left: -50vw;
  box-sizing: border-box;
  padding: 10px;
}
.info-bg {
  margin-top: 30px;
}
section {
  max-width: 80%;
  text-align: left;
  margin: 0 auto;
  margin-top: 80px;
}

.img-shadow {
  box-shadow: 0 4px 8px rgba(100, 100, 100, 0.2);
}
span {
  font-weight: 500;
  color: #ea6868;
}

.callout {
  margin: 60px auto;
  border: solid 1px #ea6868;
  padding: 5px 15px;
  width: 70%;
}

li {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
#links a {
  background-color: #ec8d8d;
  padding: 2px 15px;
  color: white;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}
#links a:hover {
  background-color: #ea6868;
}

#links {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.back-button {
  display: block;
  font-size: 25px;
  text-align: left;
  margin-left: 6.5vw;
  transition: color 0.5 ease;
}

.back-button:hover {
  color: #ea6868;
}

.return-button {
  color: black;
  transition: color 0.3s ease;
  font-weight: normal;
}
.return-button:hover {
  color: #ea6868;
}

.photos img {
  width: 100%;
}

video {
  display: block;
  margin: 0 auto;
  max-width: 30vw;
  min-width: 270px;
  max-height: 90vh;
  border: solid #d3cbdd;
  border-radius: 10px;
  box-sizing: border-box;
}

#info-section {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  flex-wrap: wrap;
  width: 80%;
  max-width: 100%;
}

#info-section h1 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
#info-section p {
  margin: 5px 0;
}
#info-section div {
  padding: 5px 15px;
  box-sizing: border-box;
}
footer {
  margin-top: 100px;
}

.external-link {
  color: #ea6868;
  font-weight: 600;
  text-decoration: underline;
}

.feature-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.img-bottom-margin {
  margin-bottom: 50px;
}
.feature-description {
  margin: 20px 15px;
  margin-bottom: 80px;
}

.top-feature-description {
  margin: 20px 15px;
  margin-bottom: 20px;
}

.photos .feature-img {
  width: calc(100% - 15px);
  margin-left: 15px;

  box-sizing: border-box;
}
.photo-description {
  margin-bottom: 25px;
}
/*webcrack project specific*/
#webcrack-gallery {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
}

#webcrack-gallery img {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

@media only screen and (max-width: 850px) {
  #webcrack-gallery img {
    width: 70%;
    min-width: 300px;
  }
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 5px 20px;
  width: 250px;
  height: 300px;
}

.card h1 {
  font-size: 18px;
}
/*taskbuddy specifics*/
.taskbuddy-img {
  width: 100%;
}

/*2col specifics*/

#col-gallery article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
#col-gallery p {
  margin-bottom: 20px;
}

#col-gallery div {
  width: 40%;
  min-width: 300px;
  margin-bottom: 20px;
}

#col-gallery h1 {
  margin-top: 0;
}
#col-gallery img {
  width: 300px;
}

#col-gallery .stacked-photo {
  width: 300px;
  margin: 0;
}
@media only screen and (max-width: 850px) {
  #splitz-gallery img {
    width: 250px;
  }
}
#splitz-gallery h1,
#splitz-gallery p {
  text-align: center;
}
